body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:528px;
  width:320px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:17px;
  top:542px;
  width:284px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:14px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:272px;
  top:14px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:117px;
  top:11px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:90px;
  width:320px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:130px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:172px;
  width:320px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:212px;
  width:320px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u20 {
  position:absolute;
  left:17px;
  top:67px;
  width:126px;
  height:203px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:203px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:70px;
  top:150px;
  width:100px;
  height:13px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:170px;
  top:150px;
  width:100px;
  height:13px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:0px;
  top:430px;
  width:320px;
  height:138px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:138px;
}
#u27 {
  position:absolute;
  left:2px;
  top:61px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:117px;
  top:451px;
  width:65px;
  height:102px;
  font-size:16px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:102px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:120px;
  top:310px;
  width:60px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:124px;
  top:387px;
  width:53px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:252px;
  width:320px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u36 {
  position:absolute;
  left:400px;
  top:0px;
  width:320px;
  height:568px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u37 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:400px;
  top:528px;
  width:320px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:400px;
  top:0px;
  width:320px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:417px;
  top:542px;
  width:284px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:524px;
  top:11px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:420px;
  top:63px;
  width:60px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:497px;
  top:74px;
  width:81px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:400px;
  top:133px;
  width:320px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u51 {
  position:absolute;
  left:400px;
  top:183px;
  width:320px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u52 {
  position:absolute;
  left:400px;
  top:224px;
  width:320px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u53 {
  position:absolute;
  left:400px;
  top:263px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:424px;
  top:201px;
  width:53px;
  height:97px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:97px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:400px;
  top:172px;
  width:320px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u57 {
  position:absolute;
  left:424px;
  top:151px;
  width:165px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:820px;
  top:67px;
  width:105px;
  height:13px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
